@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: #625f7f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: #0d0a0b;
  background-image: linear-gradient(315deg, #0d0a0b 0%, #140255 74%);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 700;
  margin: 0;
  color: #32325f;
}

.text-muted {
  color: #8898aa;
}

.text-uppercase {
  text-transform: uppercase !important;
  color: #8898aa;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

/* style the cards */

.container {
  width: 600px;
  height: auto;
  top: 50%;
  background: #f4f8fd;
  border-radius: 10px;
  padding: 10px;
}

/*
.container:hover {
  transition: 0.5s;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3;
}*/

h1.title {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  color: #eee;
}

.color {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

a.shower {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #04335a;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.5s;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
  background-clip: border-box;
  border: 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  border-radius: 15px;
  margin: 10px;
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  color: #090e3a;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3;
}

.card:hover .card-title {
  color: #32325f;
}

.card-body {
  min-height: 1.5px;
  min-width: 1.5px;
  padding: 1.4rem;
  display: flex;
  padding-right: 1rem 1.5rem;
  border-radius: 15px;
}

.card-body .h2 {
  font-size: 2.7rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  max-width: 100%;
  flex: 0 0 auto;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%; /* makes icons circular*/
  align-items: center;
  justify-content: center;
}

.icon-shape i,
.icon-shape svg {
  font-size: 2rem;
}

.bg-gradient-red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-blue {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

p.info {
  text-align: center;
  font-size: 14px;

  a {
    text-decoration: none;
  }
}
